.dark-high-contrast {
  --md-sys-color-primary: rgb(255 249 253);
  --md-sys-color-surface-tint: rgb(214 186 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(217 191 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(252 250 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(188 200 255);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(254 249 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(200 197 255);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 18 27);
  --md-sys-color-on-background: rgb(232 223 238);
  --md-sys-color-surface: rgb(20 19 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(255 249 253);
  --md-sys-color-outline: rgb(208 200 212);
  --md-sys-color-outline-variant: rgb(208 200 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 226);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(58 0 122);
  --md-sys-color-primary-fixed: rgb(240 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(217 191 255);
  --md-sys-color-on-primary-fixed-variant: rgb(33 0 74);
  --md-sys-color-secondary-fixed: rgb(226 229 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(188 200 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 17 68);
  --md-sys-color-tertiary-fixed: rgb(232 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(200 197 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(13 0 89);
  --md-sys-color-surface-dim: rgb(20 19 20);
  --md-sys-color-surface-bright: rgb(58 57 58);
  --md-sys-color-surface-container-lowest: rgb(15 14 15);
  --md-sys-color-surface-container-low: rgb(28 27 28);
  --md-sys-color-surface-container: rgb(32 31 32);
  --md-sys-color-surface-container-high: rgb(43 42 43);
  --md-sys-color-surface-container-highest: rgb(54 52 53);
}
